assets/N8N/N8N BACKUP/QB_All_2026-04-14T23-00-03.json
{
  "updatedAt": "2026-04-07T07:33:31.571Z",
  "createdAt": "2025-11-26T09:52:29.957Z",
  "id": "CjiiEae8RJpvf2Tn",
  "name": "QB (All)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data[1].invoiceType }}",
                    "rightValue": "Invoice",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "21a45089-1368-432b-9444-fdd67259bf7f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a9016ba-dad0-4417-b716-25b17c838c82",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "estimate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9bcdcffd-7549-444f-8f02-ebffc7b59a69",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "purchaseorder",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e5145d8b-f711-490c-88f1-95f29ae02e76",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "payment",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a69dc5a-c40b-417d-8b9c-287c4dbce114",
                    "leftValue": "={{ $json.data[1].invoiceType }}",
                    "rightValue": "Pro-Forma",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        224
      ],
      "id": "c922cee6-030e-4377-b287-0a88d5129bfb",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Parse the outer data\nconst outerData = $input.first().json.data;\n\n// Parse the JSON string inside data\nconst events = JSON.parse(outerData);\n\n// Get the first event\nconst firstEvent = events[0];\n\n// Extract all properties separately\nconst specversion = firstEvent.specversion;\nconst id = firstEvent.id;\nconst source = firstEvent.source;\nconst type = firstEvent.type;\nconst time = firstEvent.time;\nconst intuitentityid = firstEvent.intuitentityid;\nconst intuitaccountid = firstEvent.intuitaccountid;\n\n// Return as n8n expects - array with json object\nreturn [\n  {\n    json: {\n      specversion,\n      id,\n      source,\n      type,\n      time,\n      intuitentityid,\n      intuitaccountid\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        272
      ],
      "id": "2047873e-7ec8-4ad8-96cd-d49d69fe803e",
      "name": "JsonParse"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "841c1c3c-9326-4adf-9565-11c93a7ca72e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1392,
        272
      ],
      "id": "4f760f94-8aa6-49a0-8b1e-b2bf8914f0df",
      "name": "Webhook",
      "webhookId": "841c1c3c-9326-4adf-9565-11c93a7ca72e",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Oh9mx78sghpTd8bT",
          "mode": "list",
          "cachedResultUrl": "/workflow/Oh9mx78sghpTd8bT",
          "cachedResultName": "QB Invoice"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        -112
      ],
      "id": "fcb6b99f-ef2b-46a9-a633-dcaf9099bea5",
      "name": "Call 'QB Invoice'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BJGyDFlfD1t00XMB",
          "mode": "list",
          "cachedResultUrl": "/workflow/BJGyDFlfD1t00XMB",
          "cachedResultName": "QB (Quotation/Estimate)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        80
      ],
      "id": "f1cad907-b11d-4169-a694-18573e2f93ab",
      "name": "Call 'QB Estimate'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4ROPIyekX3ebs9LB",
          "mode": "list",
          "cachedResultUrl": "/workflow/4ROPIyekX3ebs9LB",
          "cachedResultName": "QB (Receive Payment)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        464
      ],
      "id": "8371ed72-82aa-4f9a-af05-d774cb0a4b4f",
      "name": "Call 'QB SR'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38bea6e8-815a-4d9f-adb7-e7ab8a2db509",
              "leftValue": "={{ $json.type }}",
              "rightValue": "invoice",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        272
      ],
      "id": "e343e19e-19b0-4f0d-8e74-02dd8eaad341",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        176,
        352
      ],
      "id": "ee927b14-0d95-48c9-bc2a-a4d7a5cc1061",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Get the CustomField value\nconst customField = $input.first().json.Invoice.CustomField[0];\nconst stringValue = customField?.StringValue;\n\n// Determine invoice type\nlet invoiceType;\n\nif (stringValue === '2') {\n  invoiceType = 'Pro-Forma';\n} else {\n  // If value is '1', empty, null, or undefined - default to 'Invoice'\n  invoiceType = 'Invoice';\n}\n\n// Return in n8n format (array of objects with json property)\nreturn [\n  {\n    json: {\n      invoiceType: invoiceType\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        544
      ],
      "id": "fb10658f-2ad0-4495-b3b7-765427b1c443",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fNBKiXQSmEbiQXCz",
          "mode": "list",
          "cachedResultUrl": "/workflow/fNBKiXQSmEbiQXCz",
          "cachedResultName": "QB (PRO-FORMA)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        656
      ],
      "id": "46524ec1-ed47-45b3-94ce-c1adbf25cbb6",
      "name": "Call 'QB (PRO-FORMA)'"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        272
      ],
      "id": "83993f29-7e68-43b7-a859-76f4fce5d5e2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "=https://quickbooks.api.intuit.com/v3/company/9341454112300561/invoice/{{ $json.intuitentityid }}?include=enhancedAllCustomFields",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "quickBooksOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        544
      ],
      "id": "9d1e41e5-ae85-4557-8ff7-173d696416b1",
      "name": "HTTP Request4",
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "6B4pHpkpZuG10ER7",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        384,
        352
      ],
      "id": "f22db9b0-7ea8-47e7-94cf-18dc1fef604d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rVDc7DPuag9ySJYT",
          "mode": "list",
          "cachedResultUrl": "/workflow/rVDc7DPuag9ySJYT",
          "cachedResultName": "QB (Purchase Order)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        272
      ],
      "id": "f4c52ab9-be21-452c-8001-21d531fe44ea",
      "name": "Call 'QB (Purchase Order)'"
    },
    {
      "parameters": {
        "content": "Workflow Overview\nThis is a QuickBooks webhook router that receives notifications from QuickBooks Online and routes different transaction types to specialized sub-workflows.\nStep-by-Step Breakdown\n1. Webhook Trigger\n\nReceives POST requests from QuickBooks at endpoint /841c1c3c-9326-4adf-9565-11c93a7ca72e\nQuickBooks sends notifications when invoices, estimates, purchase orders, or payments are created/updated\n\n2. Extract from File\n\nExtracts the raw text from the webhook payload\n\n3. JsonParse (Code Node)\n\nParses the nested JSON structure from QuickBooks\nExtracts key event properties: specversion, id, source, type, time, intuitentityid, intuitaccountid\nThe type field indicates what kind of transaction it is (invoice, estimate, payment, etc.)\n\n4. If Node - Invoice Check\n\nTRUE path: If type contains \"invoice\" → proceeds to fetch additional invoice details\nFALSE path: All other transaction types → skip directly to Switch\n\n5. HTTP Request4 (TRUE path only)\n\nFetches the full invoice details from QuickBooks API\nURL: https://quickbooks.api.intuit.com/v3/company/9341454112300561/invoice/{intuitentityid}?include=enhancedAllCustomFields\nThis retrieves custom fields to determine if it's a regular invoice or pro-forma\n\n6. Code in JavaScript\n\nExamines the CustomField[0].StringValue from the invoice\nIf value = '2': Sets invoiceType = \"Pro-Forma\"\nIf value = '1' or empty: Sets invoiceType = \"Invoice\"\n\n7. Merge\n\nCombines the original webhook data with the invoice type classification\n\n8. Aggregate\n\nConsolidates all the data into a single item for the Switch node\n\n9. Switch Node - Transaction Router\nRoutes to different sub-workflows based on transaction type:\n\nOutput 0: invoiceType contains \"Invoice\" → Call 'QB Invoice' workflow\nOutput 1: type contains \"estimate\" → Call 'QB Estimate' workflow\nOutput 2: type contains \"purchaseorder\" → Call 'QB (Purchase Order)' workflow\nOutput 3: type contains \"payment\" → Call 'QB SR' (Sales Receipt/Payment) workflow\nOutput 4: invoiceType equals \"Pro-Forma\" → Call 'QB (PRO-FORMA)' workflow\n\nKey Logic\nThe workflow handles a special case for invoices: it distinguishes between regular invoices and pro-forma invoices using a custom field. All other transaction types are routed based solely on their type property from the webhook.\nThis is essentially a smart dispatcher that ensures each QuickBooks transaction type gets processed by its appropriate specialized workflow.",
        "height": 1120,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2336,
        -368
      ],
      "id": "5f012057-fd7f-496e-be84-5e1ac7751ef8",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "JsonParse": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'QB Invoice'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'QB Estimate'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'QB (Purchase Order)'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'QB SR'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'QB (PRO-FORMA)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "JsonParse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "y12A3SFe0c-zldwc6GVd1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c0254fc7-f258-40eb-b449-d55190b7fc08",
  "activeVersionId": "c0254fc7-f258-40eb-b449-d55190b7fc08",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-26T09:52:29.962Z",
      "createdAt": "2025-11-26T09:52:29.962Z",
      "role": "workflow:owner",
      "workflowId": "CjiiEae8RJpvf2Tn",
      "projectId": "7K0b7BEJpzNXLaZY"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-07T07:33:33.000Z",
    "createdAt": "2026-04-07T07:33:31.576Z",
    "versionId": "c0254fc7-f258-40eb-b449-d55190b7fc08",
    "workflowId": "CjiiEae8RJpvf2Tn",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.data[1].invoiceType }}",
                      "rightValue": "Invoice",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "21a45089-1368-432b-9444-fdd67259bf7f"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1a9016ba-dad0-4417-b716-25b17c838c82",
                      "leftValue": "={{ $json.type }}",
                      "rightValue": "estimate",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9bcdcffd-7549-444f-8f02-ebffc7b59a69",
                      "leftValue": "={{ $json.type }}",
                      "rightValue": "purchaseorder",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "e5145d8b-f711-490c-88f1-95f29ae02e76",
                      "leftValue": "={{ $json.type }}",
                      "rightValue": "payment",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4a69dc5a-c40b-417d-8b9c-287c4dbce114",
                      "leftValue": "={{ $json.data[1].invoiceType }}",
                      "rightValue": "Pro-Forma",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          624,
          224
        ],
        "id": "c922cee6-030e-4377-b287-0a88d5129bfb",
        "name": "Switch"
      },
      {
        "parameters": {
          "jsCode": "// Parse the outer data\nconst outerData = $input.first().json.data;\n\n// Parse the JSON string inside data\nconst events = JSON.parse(outerData);\n\n// Get the first event\nconst firstEvent = events[0];\n\n// Extract all properties separately\nconst specversion = firstEvent.specversion;\nconst id = firstEvent.id;\nconst source = firstEvent.source;\nconst type = firstEvent.type;\nconst time = firstEvent.time;\nconst intuitentityid = firstEvent.intuitentityid;\nconst intuitaccountid = firstEvent.intuitaccountid;\n\n// Return as n8n expects - array with json object\nreturn [\n  {\n    json: {\n      specversion,\n      id,\n      source,\n      type,\n      time,\n      intuitentityid,\n      intuitaccountid\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -944,
          272
        ],
        "id": "2047873e-7ec8-4ad8-96cd-d49d69fe803e",
        "name": "JsonParse"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "841c1c3c-9326-4adf-9565-11c93a7ca72e",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1392,
          272
        ],
        "id": "4f760f94-8aa6-49a0-8b1e-b2bf8914f0df",
        "name": "Webhook",
        "webhookId": "841c1c3c-9326-4adf-9565-11c93a7ca72e",
        "executeOnce": false
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Oh9mx78sghpTd8bT",
            "mode": "list",
            "cachedResultUrl": "/workflow/Oh9mx78sghpTd8bT",
            "cachedResultName": "QB Invoice"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          848,
          -112
        ],
        "id": "fcb6b99f-ef2b-46a9-a633-dcaf9099bea5",
        "name": "Call 'QB Invoice'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "BJGyDFlfD1t00XMB",
            "mode": "list",
            "cachedResultUrl": "/workflow/BJGyDFlfD1t00XMB",
            "cachedResultName": "QB (Quotation/Estimate)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          848,
          80
        ],
        "id": "f1cad907-b11d-4169-a694-18573e2f93ab",
        "name": "Call 'QB Estimate'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4ROPIyekX3ebs9LB",
            "mode": "list",
            "cachedResultUrl": "/workflow/4ROPIyekX3ebs9LB",
            "cachedResultName": "QB (Receive Payment)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          848,
          464
        ],
        "id": "8371ed72-82aa-4f9a-af05-d774cb0a4b4f",
        "name": "Call 'QB SR'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "38bea6e8-815a-4d9f-adb7-e7ab8a2db509",
                "leftValue": "={{ $json.type }}",
                "rightValue": "invoice",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -688,
          272
        ],
        "id": "e343e19e-19b0-4f0d-8e74-02dd8eaad341",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          176,
          352
        ],
        "id": "ee927b14-0d95-48c9-bc2a-a4d7a5cc1061",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "// Get the CustomField value\nconst customField = $input.first().json.Invoice.CustomField[0];\nconst stringValue = customField?.StringValue;\n\n// Determine invoice type\nlet invoiceType;\n\nif (stringValue === '2') {\n  invoiceType = 'Pro-Forma';\n} else {\n  // If value is '1', empty, null, or undefined - default to 'Invoice'\n  invoiceType = 'Invoice';\n}\n\n// Return in n8n format (array of objects with json property)\nreturn [\n  {\n    json: {\n      invoiceType: invoiceType\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          544
        ],
        "id": "fb10658f-2ad0-4495-b3b7-765427b1c443",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "fNBKiXQSmEbiQXCz",
            "mode": "list",
            "cachedResultUrl": "/workflow/fNBKiXQSmEbiQXCz",
            "cachedResultName": "QB (PRO-FORMA)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          848,
          656
        ],
        "id": "46524ec1-ed47-45b3-94ce-c1adbf25cbb6",
        "name": "Call 'QB (PRO-FORMA)'"
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -1168,
          272
        ],
        "id": "83993f29-7e68-43b7-a859-76f4fce5d5e2",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "url": "=https://quickbooks.api.intuit.com/v3/company/9341454112300561/invoice/{{ $json.intuitentityid }}?include=enhancedAllCustomFields",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "quickBooksOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -336,
          544
        ],
        "id": "9d1e41e5-ae85-4557-8ff7-173d696416b1",
        "name": "HTTP Request4",
        "credentials": {
          "quickBooksOAuth2Api": {
            "id": "6B4pHpkpZuG10ER7",
            "name": "QuickBooks Online account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          384,
          352
        ],
        "id": "f22db9b0-7ea8-47e7-94cf-18dc1fef604d",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "rVDc7DPuag9ySJYT",
            "mode": "list",
            "cachedResultUrl": "/workflow/rVDc7DPuag9ySJYT",
            "cachedResultName": "QB (Purchase Order)"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          848,
          272
        ],
        "id": "f4c52ab9-be21-452c-8001-21d531fe44ea",
        "name": "Call 'QB (Purchase Order)'"
      },
      {
        "parameters": {
          "content": "Workflow Overview\nThis is a QuickBooks webhook router that receives notifications from QuickBooks Online and routes different transaction types to specialized sub-workflows.\nStep-by-Step Breakdown\n1. Webhook Trigger\n\nReceives POST requests from QuickBooks at endpoint /841c1c3c-9326-4adf-9565-11c93a7ca72e\nQuickBooks sends notifications when invoices, estimates, purchase orders, or payments are created/updated\n\n2. Extract from File\n\nExtracts the raw text from the webhook payload\n\n3. JsonParse (Code Node)\n\nParses the nested JSON structure from QuickBooks\nExtracts key event properties: specversion, id, source, type, time, intuitentityid, intuitaccountid\nThe type field indicates what kind of transaction it is (invoice, estimate, payment, etc.)\n\n4. If Node - Invoice Check\n\nTRUE path: If type contains \"invoice\" → proceeds to fetch additional invoice details\nFALSE path: All other transaction types → skip directly to Switch\n\n5. HTTP Request4 (TRUE path only)\n\nFetches the full invoice details from QuickBooks API\nURL: https://quickbooks.api.intuit.com/v3/company/9341454112300561/invoice/{intuitentityid}?include=enhancedAllCustomFields\nThis retrieves custom fields to determine if it's a regular invoice or pro-forma\n\n6. Code in JavaScript\n\nExamines the CustomField[0].StringValue from the invoice\nIf value = '2': Sets invoiceType = \"Pro-Forma\"\nIf value = '1' or empty: Sets invoiceType = \"Invoice\"\n\n7. Merge\n\nCombines the original webhook data with the invoice type classification\n\n8. Aggregate\n\nConsolidates all the data into a single item for the Switch node\n\n9. Switch Node - Transaction Router\nRoutes to different sub-workflows based on transaction type:\n\nOutput 0: invoiceType contains \"Invoice\" → Call 'QB Invoice' workflow\nOutput 1: type contains \"estimate\" → Call 'QB Estimate' workflow\nOutput 2: type contains \"purchaseorder\" → Call 'QB (Purchase Order)' workflow\nOutput 3: type contains \"payment\" → Call 'QB SR' (Sales Receipt/Payment) workflow\nOutput 4: invoiceType equals \"Pro-Forma\" → Call 'QB (PRO-FORMA)' workflow\n\nKey Logic\nThe workflow handles a special case for invoices: it distinguishes between regular invoices and pro-forma invoices using a custom field. All other transaction types are routed based solely on their type property from the webhook.\nThis is essentially a smart dispatcher that ensures each QuickBooks transaction type gets processed by its appropriate specialized workflow.",
          "height": 1120,
          "width": 864
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2336,
          -368
        ],
        "id": "5f012057-fd7f-496e-be84-5e1ac7751ef8",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "JsonParse": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Call 'QB Invoice'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'QB Estimate'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'QB (Purchase Order)'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'QB SR'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'QB (PRO-FORMA)'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "JsonParse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request4": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Matthew Peeters",
    "name": "Version c0254fc7",
    "description": "",
    "autosaved": false
  },
  "tags": []
}